{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	{% if app.user is not null %}

		<section class="row article">
			<article
				class="col-md-3 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
				{# SYMPHONY accède à la propriété title de l'objet article via son GETTER #}
				<h2>Profil details</h2>
				{# date() est un filtre TWIG permettant de formater/convertir un objet DateTime en une chaîne de caractères #}
				<div>Id:
					{{ app.user.id }}</div>
				<div>Nom:
					{{ app.user.lastname }}</div>
				<div>Prénom:
					{{ app.user.firstname }}</div>
				<div>E-mail:
					{{ app.user.email }}</div>
			</article>
		</section>
		<h2 class="text-center mx-auto m-3">Commentaire(s):
			{{ tabCommentaires|length }}</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Contenu</th>
					<th>Date</th>
					<th>Article</th>
				</tr>
			</thead>
			<tbody>
				{% for comment in tabCommentaires %}
					<tr>
						<td>{{ comment.content }}</td>
						<td>{{ comment.createdAt|date('d/m/Y à H:m:s') }}</td>
						<td>
							<a href="{{ path('blog_show', {id: comment.article.id}) }}" class="btn btn-sm btn-info">
								<i class="fa-solid fa-eye"></i>
							</a>
							{{ comment.article.title }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-danger text-center">
			Il faut être connecté pour voir son profil et ses commentaires !</div>
	{% endif %}
{% endblock %}
